<!DOCTYPE html>
<html>
    <head>
        <title>City Page</title>
    </head>
    <body>
        <h1>Select a Murder Entity</h1>
        <form action="/:city" method="POST">
            <label for="entity">Select a murder entity:</label>
            <select name="entity" id="entity">
                <option value="murder-weapon">Murder Weapon</option>
                <option value="race">Race</option>
                <option value="vehicle">Vehicle Used</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
