<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Select a City</h1>
        <form action="/" method="POST">
            <label for="city">Select a city:</label>
            <select name="city" id="city">
                <option value="san-francisco">San Francisco</option>
                <option value="oakland">Oakland</option>
                <option value="los-angeles">Los Angeles</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>